.home {
	height: 100vh;
	padding-top: 30px;
	background: /* top, transparent red, faked with gradient */
	linear-gradient( rgba(255, 255, 255, 0.60) 2.10%, rgba(255, 255, 255, 1)) , url("../../assets/img/rwanda-flag.jpeg") no-repeat center center fixed;
	/* background: linear-gradient(to bottom, #33ccff 61%, #ff99cc 100%); */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	/* background: rgb(0,100,66, 0.90); */
	/* color: white; */
	/* overflow: hidden; */
}

.card {
	min-width: 275;
	margin-left: 35%;
	margin-right: 35%;
}

.title {
	margin-bottom: 16;
	font-Size: 16;
	font-weight: bold;
}